# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
